{{> _head }}
{{> _header title="Welcome to RentAKloud!" }}

{{> _content_start }}
<p style="margin: 0 0 16px;">Hello {{ name }},</p>

<p style="margin: 0 0 16px;">This is a confirmation email. Please click on the following link to confirm your email
  address:</p>

<p style="margin: 0 0 16px;">
  <a href="{{ url }}" target="_blank">{{ url }}</a>
</p>

{{> _content_end }}

{{> _end }}