{
	email mustaghees@rentakloud.com
}

rentakloud.com {
	@vms path_regexp vm ^/vm20([0-9]{2})$

	handle @vms {
		forward_auth api.rentakloud.com {
			uri /auth/me?{query}
		}

		reverse_proxy /vm20{re.vm.1} 192.168.10.193:70{re.vm.1}
	}

	handle_path /novnc* {
		root * /srv/novnc/
		file_server browse
	}

	handle {
		root * /srv/web/
		encode gzip
		try_files {path} /index.html
		file_server
	}
}

www.rentakloud.com {
	redir https://rentakloud.com{uri}
}

admin.rentakloud.com {
	root * /srv/admin/
	try_files {path} /index.html
	file_server
}

# Since we run Caddy from Docker using `network_mode: host`,
# we can use localhost here

api.rentakloud.com {
	encode gzip
	reverse_proxy localhost:3000
}

cdn.rentakloud.com {
	root * /srv/cdn/
	try_files {path} /index.html
	file_server
}

gt.rentakloud.com {
	reverse_proxy localhost:8000
}

monitor.rentakloud.com {
	reverse_proxy localhost:9091
}

status.rentakloud.com {
	reverse_proxy localhost:9100
}