<table border="0" cellpadding="10" cellspacing="0" width="100%" id="template_footer">
  <tr>
    <td valign="top" style="padding: 0; border-radius: 6px;">
      <table border="0" cellpadding="10" cellspacing="0" width="100%">
        <tr>
          <td colspan="2" valign="middle" id="credit"
            style='border-radius: 6px; border: 0; color: #8a8a8a; font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; font-size: 12px; line-height: 150%; text-align: center; padding: 24px 0;'
            align="center">
            <p style="margin: 0 0 16px;">
              <a href="https://rentakloud.com" style="font-weight: normal; text-decoration: underline;">RentAKloud</a> — 
                Built with <span style="color: #f72222; font-weight: normal;">&hearts;</span>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>