<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>RentAKloud</title>
  <style type="text/css">
    @media screen and (max-width: 600px) {
      #header_wrapper {
        padding: 27px 36px !important;
        font-size: 24px;
      }

      #body_content table>tbody>tr>td {
        padding: 10px !important;
      }

      #body_content_inner {
        font-size: 10px !important;
      }
    }
  </style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"
  style="background-color: #f7f7f7; padding: 0; text-align: center;" bgcolor="#f7f7f7">
  <table width="100%" id="outer_wrapper" style="background-color: #f7f7f7;" bgcolor="#f7f7f7">
    <tr>
      <td><!-- Deliberately empty to support consistent sizing and layout across multiple email clients. --></td>
      <td width="600">
        <div id="wrapper" dir="ltr"
          style="margin: 0 auto; padding: 70px 0; width: 100%; max-width: 600px; -webkit-text-size-adjust: none;"
          width="100%">
          <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
            <tr>
              <td align="center" valign="top">
                <div id="template_header_image">
                </div>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="template_container"
                  style="background-color: #fff; border: 1px solid #dedede; box-shadow: 0 1px 4px rgba(0,0,0,.1); border-radius: 3px;"
                  bgcolor="#fff">